//contains all the common variables to use in other scss files

// colors
$title-color: #d33232;
$text-color: #3e393d;
$white: #ffffff;
$lightgrey-color: #EEEEEE;
$gray: gray;


// fonts 


$fontLight: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
$fontBold: Arial Black, Arial Bold, Gadget, sans-serif;
$fontBook: Tahoma, Verdana, Segoe, sans-serif;


